matrix:
  include:
    - language: android
      jdk: openjdk8
      android:
        components:
          - tools
          - android-28
          - build-tools-28.0.2
      licenses:
        - 'android-sdk-license-.+'
      before_install:
        - yes | sdkmanager "platforms;android-27"
      script:
        - ./gradlew android:build

    - language: java
      jdk: openjdk8
      script:
        - ./gradlew shadowJar createExe

    - language: objective-c
      osx_image: xcode9.2
      xcode_project: iOS/PMMonitor.xcodeproj
      xcode_scheme: PMMonitor
      script: cd iOS && xcodebuild clean build -project PMMonitor.xcodeproj -scheme PMMonitor CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO
